*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar{
    background-image: linear-gradient(to right,rgb(205, 205, 218),rgb(8, 48, 136));
    padding: 0 important;
}
.navbar-brand img{
    width:70px;
    height:50px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav a{
    color: aliceblue;
    font-weight: 2.5rem;
}
#home{
    background-image: linear-gradient(to right,rgb(67, 132, 158),rgb(4, 64, 99));
    height:600PX;
}
.title{
    font-size: 3rem;
    font-weight: 2.5rem;
    margin-top: 120px;
    padding-bottom: 20px;
    color: aliceblue;
}
.desc{
    color: aliceblue;
    font-size: 1.125rem;
}
.btn{
    background-color: rgb(7, 52, 94);
    color: aliceblue;
    margin-top: 50px;
    margin-bottom: 150px;

}

.about{
    display: flex;
}
h1{
    margin-left: 100px;
}
.desc{
    color: black;
    margin-top: 10px;
    margin-left: 20px;
}
.aboutimg{
    margin-left: 20px;
    margin-right: 25px;

}
.img-fluid{
    margin-top: 80px;
}
.bottom-img{
    width: 100%;
}